<%= render 'artists/artist_header' %>
<div class="artist-wrapper_ mx-auto border-top">
  <ul class="nav nav-tabs justify-content-center bg-light artist-tab">
    <li class="nav-item"><%= link_to 'さがす', root_path, class: 'nav-link'%></li>
    <li class="nav-item"><%= link_to 'ひろめる', artists_new_path, class: 'nav-link active'%></li>
  </ul>
</div>
