<%= render 'artists/artist_header'%>
<h1>検索結果〜〜〜！！！</h1>

<!--artist view(card content)-->
<!--検索結果が１件以上-->
<% if @search_results %>
  <%= render 'artist_card', artists: @search_results %>
<!--検索結果なし-->
<% else %>
  <h1>ないよーん</h1>
<% end %>



