// Place all the styles related to the artists controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// _artist_header
.jumbotron {
    background: url(/assets/image4.jpg);
    .lead{
        color: #444;
        letter-spacing: 0.7px;
        font-family: "Noto Serif JP";
    }
}

@media (max-width: 575px) {
    .jumbotron {
        margin: 0!important;
        border-radius: 0;
    }
}

// index.html
@media (min-width: 576px) {
    .artist-tab {
        font-size: 1.4rem;
    }
}

.pagination {
    justify-content: center;
    font-size: 1.4rem;
}

.nav-tabs, .card-wrapper_ {
    a:link, a:visited, a:hover, a:active {
      color: #333;
      text-decoration: none!important;    
    }
}

.card-content_ {
  &:hover {
    opacity: 0.8;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,0.15)!important;
    transition: 0.4s;
  }
}


// show.html
.show-content_ {
  width: 65%;
}

.adjust-box_ {
  position: relative;
  width: 100%;
  height: auto;
}

.box_::before {
  content: "";
  display: block;
  padding-top: 55%;
}

.artist-img_ {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  
  .artist-tag_ {
    position: absolute;
    bottom: 0;
    left: 0;

    .badge {
      font-size: 0.4vw;
      border-radius: .75rem;
    }
    .badge-primary {
      background-color: rgba(0,123,255,0.75);
    }
    .badge-success  {
      background-color: rgba(40,167,69,0.75);
    }
  }
}

@media (max-width: 575px) {
    .show-content_ {
        width: 100%!important;
        font-size: 85%!important;
        .card-body {
          padding-top: 0;
        }
        div {
            font-size: 17px;
        }
        .card-body {
            div{
                font-size: 80%!important;
            }
            .up-user_ span {
              font-size: 1.2vw;
            }
        }
    }
}

.LikesIcon {  
  transition: all .2s;
  background-color: #f5e8e8;
  .fa-heart {
    color: #555;
  }
  .LikesIcon-fa-heart{
    font-size: 30px;
    &.heart{
      animation: likeMotion .2s;
      color: tomato;
    }
  }
  &:hover {
    cursor: pointer;
    box-shadow: 1px 1px 3px 0 rgba(0, 0, 0, 0.75);
  }
}

@keyframes likeMotion {
  0% {
    transform: scale(0.5);
  }
  10% {
    transform: scale(0.7);
  }
  30% {
    transform: scale(0.9);
  }
  40% {
    transform: scale(1.1);
  }
  50% {
    transform: scale(1.2);
  }
  65% {
    transform: scale(1.4);
  }
  80% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(1.0);
  }
}

.alert-light {
  background-color: #f0f0f0;
  border-color: #d8d8d8;
}

.up-user_ span {
  font-size: 1.1vw;
}

 .artist_description_ {
    .badge {
      font-size: 20px;
      letter-spacing: 3px;
      margin-bottom: -3px;
      margin-left: 8px;
    }
    
    .border {
      height: 400px;
    }
  }

.textarea_ {
  height: 10vw!important;
}