<div class="card mt-3">
  <div class="card-body">
    <h5 class="card-title"><i class="fas fa-exclamation-triangle mr-1"></i>こちらをご利用いただくにはログインしてください</h5>
    <p class="card-text">アーティスト投稿機能をご利用いただくには、ログインが必要です。</p>
    <%= link_to 'ログイン', login_path, class: 'btn btn-outline-primary m-1' %>
    <%= link_to 'アカウント登録', new_user_path, class: 'btn btn-outline-secondary m-1' %>
  </div>
</div>